In [15]:
import pandas as pd

In [16]:
# df
df = pd.DataFrame({"name": ["John", "Adam", "Anna"], 
                   "salary": [100, 200, 300]
                   })
print(df)

   name  salary
0  John     100
1  Adam     200
2  Anna     300

In [17]:
df_city = pd.DataFrame({
    "name": ["Anna", "Marek"],
    "surname": ["Kowalska", "Nowak"], 
    "city": ["Warsaw", "Kraków"]
}
)
print (df_city)

    name   surname    city
0   Anna  Kowalska  Warsaw
1  Marek     Nowak  Kraków

In [18]:
df_3 = pd.DataFrame(columns=["name", "surname"], 
                    index=[2, 2], 
                    data=[
                        ["Jan", "Nowak"],
                        ["Emil", "Nowak"]
                    ])

print(df_3.head(1))
print(df_3.info())

  name surname
2  Jan   Nowak
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 2 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2 non-null      object
 1   surname  2 non-null      object
dtypes: object(2)
memory usage: 48.0+ bytes
None

In [22]:
# Series 
series = pd.Series(data=["John", "Adam"], name="Imiona")
print(series)
type(series)

0    John
1    Adam
Name: Imiona, dtype: object

pandas.core.series.Series

In [27]:
# Konwersja
df_3_dict = df_3.to_dict()
print(df_3_dict)


series_list = series.to_list()
print(series_list)

{'name': {2: 'Emil'}, 'surname': {2: 'Nowak'}}
['John', 'Adam']

In [28]:
# 1 kolumna
df_city['city']

0    Warsaw
1    Kraków
Name: city, dtype: object

In [35]:
duplicates_df = pd.DataFrame(
    columns=['Name', "Age"],
    data=[
        ["John", 22],
        ["John", 21],
        ["Kasia", 23]
    ]
)

print(f"Unikalne: {duplicates_df['Name'].unique()}")

Unikalne: ['John' 'Kasia']